body {
  background: #ffffff;
  color: #000000;
  font-family: Nunito Sans;
  font-size: 100%;
  line-height: 1.6;
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: black;
}

.links{
  position: fixed;
  width: 100%;
  background-color: inherit;
  top: 0%;
  font-kerning: auto;
  line-height: 1;
  font-size: 3vh;
  border-image: 10px;
  text-align: center;
  word-spacing: 200%;
  z-index: 1;
  padding-bottom: 1%;
}

.grid-container {
  display: grid;
  grid-template-columns: 5fr 5fr 5fr;
  grid-template-rows: auto auto auto;
  background-color: #ffffff;
  padding: 1%;
  padding-top: 0%;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 2vh;
  text-align: center;
  -webkit-filter: grayscale(1);
  animation: logodelay 1s linear;
}

.grid-item:hover{
  -webkit-filter: none;
}

.showcases{
  width: 100%;
  text-align: center;
  font-size: 2.5vh;
  font-weight: bold;
}

#warpabout{
  width: 100%;
  align-items: center;
  align-self: center;
  align-content: center;
}

.soon{
  font-family: sans-serif;
  position: absolute;
  width: 100%;
  text-align: center;
  margin-left: 0%;
  margin-top: 20%;
  font-size: 2.5vh;
  margin-bottom: 10%;
  display: inline-grid;
}

.about{
  font-family: sans-serif;
  position: absolute;
  width: 30%;
  margin-left: 55%;
  margin-top: 40%;
  font-size: 2.5vh;
  margin-bottom: 10%;
  display: inline-grid;
}

.aboutcontact{
  font-family: sans-serif;
  position: absolute;
  float: left;
  margin-left: 20%;
  margin-top: 40%;
  width: 30%;
}

#contact{
  font-size: 3vh;
  font-family: Nunito+Sans;
}

.suslogo{
  position: absolute;
  margin-top:12%;
  width: 20%;
  margin-left: 40%;
  animation: logodelay 3s linear;
}
@keyframes logodelay {
  0% {
       display: none;
       opacity: 0;
   }


   100% {
       display: block;
       opacity: 1;
   }
}

.bio{
  position: absolute;
  top: 17%;
  left: 50%;
  line-height: 135%;
  width: 30%;
  font-size: 2.2vh;
  border-bottom: 40px solid white;
  font-family: sans-serif;
}

.biopic{
  position: absolute;
  width: 27%;
  top: 20%;
  left: 20%;
}

.biolinks{
  position: absolute;
  width: 27%;
  top: 75%;
  left: 20%;
  text-align: right;
  line-height: 200%;
  height: 20%;
  border-bottom: 40px solid white;
}

#artistfont{
  font-family: Nunito+Sans;
  font-size: 3vh;
}

.dates{
  width: 40%;
  margin-left: 30%;
  margin-top: 10%;
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #ffffff;
  padding: 1%;
  padding-top: 20%;
  text-align: left;
}

.grid-item2 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 10px;
  font-size: 2vh;
  text-align: RIGHT;
  -webkit-filter: grayscale(1);
  animation: logodelay 1s linear;
}

.grid-item3 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 10px;
  font-size: 2vh;
  text-align: LEFT;
  -webkit-filter: grayscale(1);
  animation: logodelay 1s linear;
  vertical-align: text-top;
}

.mina-container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: auto auto;
  background-color: #ffffff;
  padding: 1%;
  padding-top: 2%;
  width: 70%;
  margin-left: 15%;

}

.grid-item4 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 5%;
  font-size: 2vh;
  text-align: LEFT;
  -webkit-filter: grayscale(1);
  animation: logodelay 1s linear;
  vertical-align: text-top;
  margin-top: -7%;
}

.minares{
  margin-left: 17%;
  margin-top: 5%;
  font-size: 3vh;
}


@media (max-width: 600px) {

  .about{
    font-family: sans-serif;
    position: absolute;
    width: 80%;
    margin-left: 10%;
    margin-top: 100%;
    font-size: 2.5vh;
    margin-bottom: 10%;
    display: inline-grid;
  }

  .aboutcontact{
    font-family: sans-serif;
    position: absolute;
    float: left;
    margin-left: 10%;
    margin-top: 40%;
    width: 80%;
  }

  .links{
    position: fixed;
    width: 95%;
    background-color: inherit;
    top: 0%;
    font-kerning: auto;
    line-height: 1;
    font-size: 2.7vh;
    border-image: 10px;
    text-align: center;
    word-spacing: 100%;
    z-index: 1;
    padding-bottom: 1%;
  }

  .grid-container {
    grid-template-columns: auto auto;
    padding-top: 40%;
  }

  .aartists{
    top: 145%;
  }

  .biopic{
    width: 80%;
    top: 35%;
    left: 10%;
  }

  .bio{
    position: absolute;
    top: 110%;
    left: 10%;
    width: 80%;
  }

  .biolinks{
    position: absolute;
    width: 50%;
    top: 100%;
    left: 40%;
  }

  .dates{
    width: 80%;
    margin-left: 7%;
    margin-top: 30%;
  }


}
